{% extends '_layout.html'%}

{%block content%}
<h1>Edit yourr profile detail here bruh</h1>
<form action="{{url_for('users.update',id=current_user.id)}}" method="POST">
    <div class="form-group">
        <label for="username">New Username : </label>
        <input type="text" name="username" placeholder="Key in new username" value={{current_user.username}}>

    </div>
    <div class="form-group">

        <label for="username">New Email : </label>
        <input type="email" name="email" placeholder="Key in new email here" value={{current_user.email}}>

    </div>
    <div class="form-group">
    <label for="username">New password :</label>
    <input type="password" name="password" placeholder="Key in new password here" >
    </div>
    <input type="submit" value="Update Profile's Detail">



</form>

<br>
<br>

<hr>

<h2>Upload / Change your Profile image here</h2>
<form action="{{url_for('users.upload_profile_image' , id=current_user.id)}}" enctype="multipart/form-data" method="POST">
    <label for="profile_image">Choose your image bruh</label>
    <input type="file" name="profile_image">
    <input type="submit" value="Click to submit image ">





</form>
<br>
<br>
<br>
<hr>
{% if current_user.is_private %}
<form id="currently_private" action="{{url_for('users.private')}}" method="POST">
    <h3>Untick to change your profile to public</h3>
    <input type="checkbox" id="is_private" name="is_private" value="Ticked" checked>
    <label for="is_private">Private</label>
    <input type="submit" value="Submit">

</form>
{% else %}
<form id="currently_public" action="{{url_for('users.private')}}" method="POST">
    <h3>Tick to change your profile to private</h3>
    <input type="checkbox" id="is_private" name="is_private" value="Ticked">
    <label for="is_private">Private</label>
    <input type="submit" value="Submit">
    


</form>

{% endif %}






<hr>





{% endblock%}